.alt-header {
    padding: 60px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:nth-child(2) {
    text-align: center;
}

.alt-header__column:last-child {
    margin-left: auto;  /* space-between이 글자 수에 따라서 배열이 중앙 정렬이 안된다 .auto를 쓰면 글자 수와 무관하게 중앙 정열이 된다. */
    display: flex;
    justify-content: flex-end;
}

.alt-header__column span:last-child {
    margin-left: 20px;
}